{% extends 'layout/layout.twig' %}

{% do headTitle(translate('TITLE_FATAL_ERROR', 'Application')) %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ translate('TITLE_FATAL_ERROR', 'Application') }}
            {% if display_exceptions %}
                <p class="text-danger">{{ message|e }}</p>
            {% endif %}
        </h1>
    </div>
    {% if display_exceptions %}
        <h3>{{ translate('LABEL_ERROR_EXCEPTION', 'Application') }}: {{ get_class(exception) }}</h3>
        <h4>{{ translate('LABEL_ERROR_FILE', 'Application') }}:</h4>
        <pre>{{ exception.getFile() }}:{{ exception.getLine() }}</pre>
        {% if exception.getMessage %}
            <h4>{{ translate('LABEL_ERROR_MESSAGE', 'Application') }}:</h4>
            <pre>{{ exception.getMessage()|e }}</pre>
        {% endif %}
        <h4>{{ translate('LABEL_ERROR_STACK_TRACE', 'Application') }}:</h4>
        <pre>{{ exception.getTraceAsString()|e }}</pre>
    {% endif %}
    {% if not display_exceptions %}
        <p>{{ translate('EXCEPTION_USER_MESSAGE', 'Application') }}</p>
    {% endif %}
{% endblock content %}
