{% extends 'layout/layout.twig' %}
{% import 'macro/icon.twig' as icon %}
{% import 'macro/form.twig' as form %}

{% set title = translate('PAGE_TITLE_SIGNUP', 'User') %}

{% do headTitle(title) %}

{% block content %}
    <div class="page-header">
        <h1>{{ title|e }}</h1>
    </div>
    {% set formBuilder = formBuilder(signUpForm) %}
    {{ formBuilder
        .open()
        .action(url('signup'))
        .addClass('form-horizontal')
    }}
        <div class="form-group required{{ form.hasError(formBuilder, 'person') }}">
            {{ formBuilder
                .label(translate('LABEL_PERSON', 'User'))
                .forId('person')
                .addClass('control-label col-md-2')
            }}
            <div class="col-md-4">
                {{ formBuilder.text('person').addClass('form-control').attribute('maxlength', 255) }}
                <div class="help-block help-block-error">
                    {{ formBuilder.getError('person') }}
                </div>
            </div>
        </div>
        <div class="form-group required{{ form.hasError(formBuilder, 'email') }}">
            {{ formBuilder
                .label(translate('LABEL_EMAIL', 'User'))
                .forId('email')
                .addClass('control-label col-md-2')
            }}
            <div class="col-md-4">
                {{ formBuilder.email('email').addClass('form-control') }}
                <div class="help-block help-block-error">
                    {{ formBuilder.getError('email') }}
                </div>
            </div>
        </div>
        <div class="form-group required{{ form.hasError(formBuilder, 'password') }}">
            {{ formBuilder
                .label(translate('LABEL_PASSWORD', 'User'))
                .forId('password')
                .addClass('control-label col-md-2')
            }}
            <div class="col-md-4">
                {{ formBuilder.password('password').addClass('form-control') }}
                <div class="help-block help-block-error">
                    {{ formBuilder.getError('password') }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                {{ formBuilder
                    .button([icon.fa('check'), translate('LABEL_SIGNUP', 'User')]|join(' '))
                    .attribute('type', 'submit')
                    .addClass('btn btn-primary')
                }}
            </div>
        </div>
    {{ formBuilder.close() }}
{% endblock content %}