{% import 'macro/component.twig' as component %}
{% import 'macro/table.twig' as table %}

{% extends 'layout/layout.twig' %}

{% block content %}
  <h1 class="display-4">{{ translate('PAGE_TITLE_USER_LIST', 'User') | e }}</h1>

  <table class="table table-striped table-hover">
    <thead>
      <th>#</th>
      <th>{{ translate('COLUMN_USERNAME', 'User') }}</th>
      <th>{{ translate('COLUMN_EMAIL', 'User') }}</th>
      <th>{{ translate('COLUMN_EMAIL_CONFIRM', 'User') }}</th>
      <th>{{ translate('COLUMN_CREATED_AT', 'User') }}</th>
    </thead>
    <tbody>
      {% set paginator = dataProvider.getPaginator() %}
      {% set index = 1 %}
      {% if paginator | length > 0 %}
        {% for item in paginator %}
          {% include 'user/index/row.twig' %}
          {% set index = index + 1 %}
        {% endfor %}
      {% else %}
        {{ table.emptyRow(6) }}
      {% endif %}
    </tbody>
  </table>

  {{ component.paginator(dataProvider.getPaginator(), dataProvider.getQueryParams()) }}
{% endblock content %}
